<div class="trailer-show-page">
    <h2>Current trailer</h2>
    <p>{{ trailer.make }}</p>
    {{!-- <p>{{ trailer.modelYear }}</p> --}}
    <p>{{ trailer.status }}</p>
    <p>{{ trailer.type }}</p>

    <a href="/trailers/{{ trailer.id }}/edit">Edit trailer</a>

    <form method="POST" action="/trailers/{{ trailer.id }}?_method=DELETE">
        <input type="submit" value="Delete Trailer"/>
    </form>
</div>