<div class="user-show-page">
    <h2>Current Staff</h2>
    <p>{{ user.Firstname }}</p>
    <p>{{ user.Lastname }}</p>
    <p>{{ user.title }}</p>
    <p>{{ user.loginId }}</p>
    

    <a href="/users/{{ user.id }}/edit">Edit user</a>

    <form method="POST" action="/users/{{ user.id }}?_method=DELETE">
        <input type="submit" value="Delete User"/>
    </form>
</div>