<h1>Clay's Commercial Compound</h1>
<ul>
{{#each users }}
    <li><a href="/users/{{ id }}">{{ Firststname }}</a></li>
    <li><a href="/users/{{ id }}">{{ Lastname }}</a></li>
    <li><a href="/users/{{ id }}">{{ title }}</a></li>
    <li><a href="/users/{{ id }}">{{ LoginId }}</a></li>
{{/each}}
</ul>

<a href="/users/new">Create new user</a>