<div class="user-show-page">
    <h2>Current Staff</h2>
    <p>{{ user.Firstname }}</p>
    <p>{{ user.Lastname }}</p>
    <p>{{ user.Title }}</p>
    <p>{{ user.LoginId }}</p>
    
    <div class="edit1">
        <a href="/users/{{ user.id }}/edit">Edit user</a>
    </div>

    <div class="truckDelete">
        <form method="POST" action="/users/{{ user.id }}?_method=DELETE">
            <input class="delbutton1" type="submit" value="Delete User"/>
        </form>
    </div>
</div>    
