<form method="POST" action="/trucks/{{ truck.id }}?_method=PUT">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
    <input type="text" value="{{ truck.make }}" placeholder="Name" name="make"/>
    <input type="text" value="{{ truck.modelYear }}" placeholder="Model Year" name="modelYear"/>
    <input type="text" value="{{ truck.status }}" placeholder="Status" name="status"/>
    <input type="text" value="{{ truck.color }}" placeholder="Color" name="color"/>
    <input type="text" value="{{ truck.engine }}" placeholder="Engine" name="engine"/>

    <input type="submit" value="Update Truck"/>
</form>
