<h1>Clay's Commercial Compound</h1>



{{#each trucks }}
<div class="wrapper1">
    <a href="/trucks/{{ id }}"><p>{{ Make }}</p></a>
    <a href="/trucks/{{ id }}"><p>{{ Color }}</p></a>
    <a href="/trucks/{{ id }}"><p>{{ Status }}</p></a>
    <a href="/trucks/{{ id }}"><p>{{ Engine}}</p></a>
    </div>
{{/each}}

<div class="wrapper2">
    <a href="/trucks/new"><button type="button">Create new truck</button></a>
</div>

<div class="wrapper3">
    <div class="goHome">
        <a href="HomePage"> <img src="home-icon.png"/></a>
    </div>

    <div class="goTeam">
        <a href="users"> <img src="goodPeople.jpg"/></a>
    </div>

    <div class="goFull">
        <a href="trailers"> <img src="trailer.gif"/></a>
    </div>
</div>